<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>添加文章</title>
<link rel="stylesheet" th:href="@{../../lib/layui/css/layui.css}" />
</head>
<div class=" layui-main ">
	<form class="layui-form layui-form-pane">
		<div class="layui-form-item">
			<label class="layui-form-label">分类</label>
			<div class="layui-input-inline">
				<input type="text" th:value="${type.typeName}" name="typename"
					id="typename" required lay-verify="required|typename"
					placeholder="请输入" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			
			<div class="layui-input-inline">
				<input type="text" name="id" id="id" th:value="${type.id}"
					hidden="hidden">
			</div>
		</div>
		<br>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button lay-submit lay-filter="edit" type="button" class="layui-btn">立即提交</button>
			</div>
		</div>
	</form>


</div>
<script type="text/javascript" src="../../lib/layui/layui.js"></script>
<script type="text/javascript" src="../../js/paper/edittype.js"></script>
</body>
</html>
