<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{../../lib/layui/css/layui.css}" />

</head>
<div>
	<form class="layui-form">
		<div class="layui-form-item">
			<input type="text" th:value="${user.userId}" name="id" id="id"
				hidden="hidden">

		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">用户名 ：</label>
			<div class="layui-input-inline">
				<input type="text" class="layui-input" style="width: 300px"
					th:value="${user.userName}" readonly="readonly">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">中文名 ：</label>
			<div class="layui-input-inline">
				<input type="text" th:value="${user.fullName}" class="layui-input"
					readonly="readonly">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">角 色 ：</label>
			<div class="layui-input-inline">
				<input type="text" th:value="${roleName}" class="layui-input"
					readonly="readonly">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">手机号 ：</label>
			<div class="layui-input-inline">
				<input type="tel" th:value="${user.phonenumber}" class="layui-input"
					readonly="readonly">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">邮箱：</label>
			<div class="layui-input-inline">
				<input type="text" th:value="${user.email}" class="layui-input"
					readonly="readonly">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">性别</label>
			<div class="layui-input-inline">
				<input type="text" th:value="${user.sex} == '0' ? '男' : '女'"
					placeholder="yyyy-MM-dd" class="layui-input" readonly="readonly">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">生日</label>
			<div class="layui-input-inline">
				<input type="text" th:value="${user.birthday}" lay-verify="date"
					placeholder="yyyy-MM-dd" class="layui-input" readonly="readonly">
			</div>
		</div>
	</form>


</div>
</body>
</html>
