<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{../../lib/layui/css/layui.css}" />

</head>
<div>
	<form class="layui-form" lay-filter='form'>
		<div class="layui-form-item">
            <input type="text" th:value="${user.userId}" name="id" id="id" hidden="hidden">
           
        </div>
		<div class="layui-form-item">
			<label class="layui-form-label">用户名 ：</label>
			<div class="layui-input-inline">
				<input type="text" name="username" required lay-verify="username"
					placeholder="请输入用户名(用户名为4-16位的字母与数字)" autocomplete="off" class="layui-input"
					id="username" style="width:300px" th:value="${user.userName}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">中文名 ：</label>
			<div class="layui-input-inline">
				<input type="text" name="realname" th:value="${user.fullName}" required lay-verify="realname"
					placeholder="请输入中文名" autocomplete="off" class="layui-input"
					id="realname">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">密    码：</label>
			<div class="layui-input-inline">
				<input type="text" name="password" required
					lay-verify="password" placeholder="请输入密码(密码为4-16位的字母与数字)" autocomplete="off"
					class="layui-input" id="password" style="width:300px" th:value="${user.password}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">再   次   输   入 ：</label>
			<div class="layui-input-inline">
				<input type="password" required lay-verify="required"
					placeholder="请确认密码" autocomplete="off" class="layui-input"
					id="repassword">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">角     色：</label>
			<div class="layui-input-block">
				<select name="roleId" id="roleId" lay-verify="required" lay-filter="roleId">
					<option value="">请选择角色</option>
					<option th:selected="${roleId  eq role.roleId}"
						th:each="role : ${roleList}" th:value="${role.roleId}"
						th:text="${role.roleName}"></option>
				</select>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">手机号 ：</label>
			<div class="layui-input-inline">
				<input type="tel" th:value="${user.phonenumber}" name="phonenumber"  required
					lay-verify="required|phone" placeholder="请输入手机号" autocomplete="off"
					class="layui-input" id="phonenumber">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">邮箱：</label>
			<div class="layui-input-inline">
				<input type="text" th:value="${user.email}" name="email" required lay-verify="email"
					placeholder="请输入邮箱" autocomplete="off" class="layui-input"
					id="email">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">性别</label>
			<div class="layui-input-block" th:if="${user.sex} eq '1'">
				<input type="radio"  name="sex" value="0" title="男"> 
				<input type="radio"  name="sex" value="1" title="女" checked="checked">
			</div>
			 <div class="layui-input-block" th:if="${user.sex} eq '0'">
				<input type="radio"  name="sex" value="0" title="男" checked="checked"> 
				<input type="radio"  name="sex" value="1" title="女">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">生日</label>
			<div class="layui-input-inline">
				<input type="text" th:value="${user.birthday}" name="birthday" id="birthday" lay-verify="date"
					placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
			</div>
		</div>
		<br>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button lay-submit lay-filter="edit" type="button"  class="layui-btn">立即提交</button>
				<input id="clear" type="button" class="layui-btn layui-btn-primary" value="重置">
			</div>
		</div>
	</form>


</div>
<script type="text/javascript" src="../../lib/layui/layui.js"></script>
<script type="text/javascript" src="../../js/user/edit.js"></script>
</body>
</html>
