<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{../../lib/layui/css/layui.css}" />

</head>
<div>
	<form class="layui-form">
		<div class="layui-form-item">
			<input type="text" name="id" id="id" hidden="hidden">

		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">角色名 ：</label>
			<div class="layui-input-inline">
				<input type="text" name="rolename" required lay-verify="rolename|required"
					placeholder="请输入角色名" autocomplete="off" class="layui-input"
					id="rolename">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">权限路径</label>
			<div class="layui-input-inline">
				<div id="xtree" 
					style="width: 200px; border: 1px solid black; padding: 10px 0 25px 5px;"></div>
			</div>
		</div>
		<br>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button lay-submit lay-filter="add" type="button" class="layui-btn">立即提交</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
			</div>
		</div>
	</form>


</div>
<script type="text/javascript" src="../../lib/layui/layui.js"></script>
<script type="text/javascript"
	src="../../lib/layui/lay/modules/xtree.js"></script>
<script type="text/javascript" src="../../lib/layui/layui-treetable.js"></script>
<script type="text/javascript" src="../../js/role/add.js"></script>
</body>
</html>
